<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="static/bootstrap-table.js"></script>
    <link rel="stylesheet" href='/static/bootstrap-table.css'>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <table id="example" class="table">
              <caption>用户信息</caption>
              <thead>
                <tr>
                    <th>昵称</th>
                </tr>
              </thead>
            <tbody id="itemContainer">
              {%for item in data%}
              <tr>
                  <th>{{item}}</th>
            {% endfor %}
            </tbody>
        </table>
        <script type="text/javascript">
        $(document).ready(function() {
        $('#example').dataTable();
        } );
    </script>
    </div>
</body>


